{% extends 'base.html' %} 
{% block content %}
{{block.super}}


<div class="index-fluid">

    <header>

        <h3 class="logo">IMG<span>ALLERIA</span></h3>

        <ul>
            <li><a href="{% url 'index'%}">Home</a></li>
           <li><a href="{% url 'images' %}">All images</a></li>
           
        </ul>
    
    </header>

    <div class="main-fluid">
    <div class="container">
        <div class="row">
            {% if images %}
            {% for image in images %}

            <div class="col-sm-4">
            
                    <div style="background-image: url({{image.image.url}});" class="img"></div>
                    <span><a href="/image/{{image.id}}">View details</a></span>
                    </div>
            
            {% endfor %}
            {% endif %}
        </div>
    </div>
</div>

</div>

{% endblock %}