{% extends 'base.html' %} 
{% block content %}
{{block.super}}
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h1>IMAGALLERIA</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <h2>Bienvenido</h2>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <p>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                Accusamus, aliquam, asperiores, atque, autem beatae blanditiis
                consequuntur corporis cumque debitis dolorem doloremque dolores
                dolorum eaque earum eius eligendi enim error esse et eveniet
                explicabo facere facilis fugiat fugit harum hic id illo impedit
                incidunt inventore ipsa ipsam itaque iure laboriosam laborum
                laudantium libero magnam magni maxime minima minus modi molestias
                nam natus necessitatibus nemo neque nihil nostrum numquam odio
                officia omnis optio pariatur perferendis perspiciatis placeat
                praesentium quae quam quas quia quibusdam quidem quis quod quos
                ratione recusandae repellendus reprehenderit repudiandae
                rerum sapiente sed sequi similique sint soluta sunt suscipit
                temporibus tenetur totam ullam unde vel vero voluptas voluptate
                voluptates voluptatibus.
            </p>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <h2>Galería</h2>
        </div>
    </div>
</div>

{% endblock %}