{% extends 'base.html' %}

{% block content %}
<div class="container">
    <div class="row">
        {% if images %}
        <h2>Found {{ images|length }} of searched term {{message}}</h2>
        {% for image in images %}

        <div class="col-sm-4">
            
            <div style="background-image: url({{image.image.url}});" class="img"></div>

        </div>
    
        
        {% endfor %}

        {% else %}

        <h2> {{message}}</h2>

        {% endif %}

    </div>
</div>

{% endblock %}