[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
Django = "==3.2"
psycopg2 = "*"
Pillow = "*"
gunicorn = "*"
whitenoise = "*"
django-heroku = "==0.3.1"
python-decouple = "==3.1"

[dev-packages]

[requires]
python_version = "3.8"
