@import url('https://fonts.googleapis.com/css2?family=Life+Savers:wght@400;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap');

*{
    color: green;
    font-family: 'Poppins', sans-serif;
}

.img{
    height: 30vh;
    width: 100%;
    background-size: cover;
    background-position: center;
}

.card-footer{
    height: 20vh;
    overflow-y: scroll;
}